<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css"></link>
    <link rel="stylesheet" href="/css/style2.css"></link>
    <!-- <link href="/css/styles.css" rel="stylesheet"> -->


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-primary navbar-custom sticky-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
           
            <% for(i=0;i<nav.length;i++){%>
              <li>
                  <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
                </li>
            <%}%>
          </ul>
        </div>
      </nav>
    
      <div class="heading2">
        <p> Sign Up</p>
    </div>

     <div class="transbox container col-md-5 col-md-offset-1">
     <div class="jumbotron">

        <form action="#" id="formId" onsubmit="(validate()); return false" >

            <div class="form-group">
                <label for="full-name">Full-Name* </label>
                <input type="name" class="form-control" id="name" placeholder="Enter your name" name="full-name">
            </div>
            <div class="form-group">
              <label for="gender" id="gender">Gender:-</label>

              <!-- <input id="male"type="radio" name="gender" value="Male"> Male 
              <input id="fem" type="radio" name="gender" value="Female"> Female
              <input type="radio" name="gender" id="prefer" value="Prefer Not to Say"> Prefer Not To Say -->

              <select id="genderSel" name="gender">
                <option value="male"> Male </option>
                <option value="female"> Female </option>
                <option value="Prefer Not to Say"> Prefer Not to Say</option>
              </select> 
          
            </div>

            <div class="form-group">
                <label for="email">Email*</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email address" name="email">
            </div>

            <div class="form-group">
                <label for="date">Date of Birth*</label>
                <input type="date" class="form-control" id="date" placeholder="Enter your birth date" name="date">
            </div> 
            <div class="form-group">
                <label for="date" onmouseover="phInfo();">Phone Number</label>
                <input type="phone" class="form-control" id="phone" placeholder="Enter your Phone Number" name="date" optional>
            </div> 
            <div>
              <label for="#" id="phInfo"> </label>
            </div>


            <div class="form-group">
                <label for="pwd">Password*</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter a password" name="pswd">
            </div>

            <div>
                <label for="format"> <span id="pFormat">Your Password Must Contain- </span>
                  <ul id="PassList">
                    <li class="pass-item">Minimum of 8 Characters</li>
                    <!-- <li id="empty-item">Miniumum 8 Characters</li> -->
                    <li class="pass-item">One Uppercase Character</li>
                  
                    <li class="pass-item">One Lowercase Character</li>
                    
                    
                    <li class="pass-item">One Number</li>
                  </ul> 
                </label>

            </div>

            <div class="form-group">
                <label for="pwd">Confirm Password*</label>
                <input type="password" class="form-control" id="pwd2" placeholder="Re-enter your password" name="pswd">
            </div>
            <div>
              <label for="#" id="reqInfo"> All fields marked with a * are mandatory</label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="Agreement" checked> I agree to the Terms and Conditions
                </label>
            </div>
            
              <button type="submit" class="btn btn-primary">Submit</button>

        </form>

        <!-- <form action="Signup.html">
            <input type="email" required>
            <input type="password" name="password" id="pwd" required>
            <input type="submit" value="LOG IN">
                </form> -->
                <!-- onsubmit="return !!(passvalidate() & validate()); -->
</div>
</div>  

<div class="footer">
  <div>
    <h1>Follow Us</h1>
  </div>

  
    <div id="socialSharing" style="margin-left: 2rem;">
          <span id="facebook" class="fa-stack fa-lg">Facebook
            <img src="facebook-icont.png" id="fb" alt="no image" style="height: 35px; width: 40px;" >
              <i class="fa fa-facebook fa-stack-1x"></i>
          </span>
     
          <span id="twitter" class="fa-stack fa-lg">Twitter
              <i class="fa fa-twitter fa-stack-1x"></i><span><img src="tweet.png" alt="no image" style="height: 35px; width: 40px;"></span>
          </span>
      
          <span id="Gplus" class="fa-stack fa-lg">Google Plus
            <i class="fa fa-twitter fa-stack-1x"></i><span><img src="download.png" alt="no image" style="height: 35px; width: 40px;"></span>
          </span>
    </div>
</div>


<script src="/js/signup.js"> </script> 
<script src="/public/js/bootstrap.min.js"></script>

</body>
</html>